# Backend Configuration
APP_NAME=OmniWeb-VideoTranslator
DEBUG=True
PORT=8000

# Paths
TEMP_DIR=./backend/temp
OUTPUT_DIR=./backend/outputs

# Services
WHISPER_MODEL=base
LIBRETRANSLATE_URL=http://localhost:5000
TTS_MODEL=tts_models/multilingual/multi-dataset/xtts_v2

# Storage
MAX_UPLOAD_SIZE=104857600 # 100MB
